<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:context="http://www.springframework.org/schema/context" 
		xsi:schemaLocation="  
					http://www.springframework.org/schema/beans   
					http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
					http://www.springframework.org/schema/context   
					http://www.springframework.org/schema/context/spring-context-4.0.xsd  
					">  
	<!-- classpath：是指的当前类文件的目录下。 -->
	<!-- 引入jdbc配置文件 -->
	<!-- <bean id="propertyConfigurerForAnalysis"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:config.properties</value>
		</property>
			<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean> -->
	<context:property-placeholder location="classpath:config.properties"  ignore-unresolvable="true"/>
	<!-- 与上面的配置等价，下面的更容易理解 -->
	
	<!-- 扫描文件（自动将servicec层注入） -->
	<!-- (自动注入) -->
	<context:component-scan base-package="com.wowson.service" />
</beans>